<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<h1 align='center'>Contact Us</h1>
<body align='center'>
    <header>
        <p align ='right'> 
            <a href="home.html" style="padding: 10px 5px;">Home</a> 
            <a href="about.html" style="padding: 10px 5px;">About</a> 
            <a href="contact.html" style="padding: 10px 5px;">Contact</a> 
            <a href="login.html" style="padding: 10px 5px;">Login</a>
        </p>
    </header>
    <p> CPSC 362 <br>
        ParkingPassSim@csu.fullerton.edu <br>
        <br>
        Kevin Pham <br> 
        Joaquin Robledo <br> 
        Jay Vang <br>
        </p>
</body>
</html>