<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website</title>
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <h1>Index</h1>
    <a href="home.html">home.html</a> <br>
    <a href="login.html">login.html</a> <br>
    <a href="register.html">register.html</a> <br>
    <a href="registerpass.html">registerpass.html</a> <br>
    <a href="userhome.html">userhome.html</a> <br>
    <a href="adminhome.html">adminhome.html</a> <br>
</body>

</html>